.action-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 14px;
    border: 1px solid #ddd;
    text-align: center;
    height: 100%;
    color: #111;
}

.action-card h4 {
    margin-bottom: 10px;
    color: #1e3a8a;
}

.action-card p {
    color: #444;
}

@media (prefers-color-scheme: dark) {
    .action-card {
        background-color: #f8f9fa;
        color: #111;
    }
}
